.features{
    scroll-margin-top:100px;

    max-width:1200px;
    margin:100px auto;
    padding:0 20px;
    text-align:center;
}

.features h2{
    font-size:2.7rem;
    color:#111827;
    margin-bottom:20px;
}

.features-text{
    max-width:700px;
    margin:auto;
    color:#6b7280;
    font-size:1.1rem;
    line-height:1.7;
    margin-bottom:60px;
}

.features-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.feature-card{
    padding:35px 30px;
    border:1px solid #e5e7eb;
    border-radius:18px;
    background:white;
    transition:.3s;
}

.feature-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 40px rgba(0,0,0,.08);
}

.feature-icon{
    font-size:2.7rem;
    color:#4f46e5;
    margin-bottom:20px;
}

.feature-card h3{
    color:#111827;
    margin-bottom:15px;
}

.feature-card p{
    color:#6b7280;
    line-height:1.7;
}